[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
pandas = "*"
torch = "*"
pyqt5 = "*"
pyarrow = "*"
scikit-learn = "*"
sktime = "*"

[dev-packages]

[requires]
python_version = "3.10"
